body {
    padding: 50px;
    background-color: white;
    font-family: Comic-sans, Arial, Helvetica, sans-serif; 
} 

.text-analysis-page { 
    overflow: auto;
    max-height: 5em;
    width: 500px;
    font-family: sans-serif; 
    border: 10px ridge blue; 
    padding: 10px;
}

.textImg {
    max-width: 500px;
    width: 75%;
    border: 10px ridge blue;
}

.caption{
    padding: 10px;
    border: 10px ridge blue;
}

.essay{
    border: 10px ridge blue;
    font-family: roman, 'times new roman', times, serif;
    display: flex;
    justify-content: center;
    font-size: 1.2em; 
    width: 1250px; 
    padding: 10px;
}

.navigation{
    font-size: 2em;
}

.resume {
    font-family: roman, 'times new roman', times, serif;
    font-size: 2em;
}

.contacts{ 
    color: blue; 
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center; 
    border: 10px ridge blue; 
    width: 750px; 
    justify-content: center; 
    margin-left: 275px; 
    margin-bottom: 55px;
}

.side-by-side{
    display: flex;
    gap: 10px;
    justify-content: center; 
    border: 10px ridge blue; 
    padding: 10px; 
}

.additional {
    overflow: auto;
    max-height: 5em;
    width: 500px;
    color: blue;
    font-family: sans-serif; 
    border: 10px ridge blue; 
    padding: 10px;
}


.MainHeading {
    color: blue;
    font-family: cursive; 
    border: 10px ridge blue;
    margin-top: 50px; 
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    padding: 10px;
} 

.featureBlock {
    color: blue;
    font-family: sans-serif; 
    border: 10px ridge blue; 
    padding: 10px;
}

.img {
    border: 10px ridge blue;
    width: 59%;
    max-width: 500px;
}