body {
    padding: 50px;
    background-color: white;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
}


img {
    width: 59%;
    max-width: 500px;
}

.MainHeading {
    color: blue;
    font-family: cursive; 
    border: 10px ridge blue;
    margin-top: 50px; 
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 80px;
    padding: 10px;
}